
body{
    padding: 0;
    margin: 0;
    width: 100%;
    background: linear-gradient(135deg, #ab49fa 0, #ffffff 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    
    
}

h2{
    text-align: center;
}

#calculator{
    padding: 30px;
    border: 2px solid black;
    border-radius: 10px;
    box-sizing: border-box;
    width: 90%;
    max-width: 400px;
    background-color: white;
}

input{
  width: 100%;
  padding: 10px;
  font-size: 1.2rem;
  border: 1px solid #aaa;
  border-radius: 5px;
  box-sizing: border-box;
  text-align: right;
  margin-bottom: 15px;
}

ul{
    display: grid;
    list-style: none;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 0;
    margin: 0;
    gap: 3px;

}

.calculator-button{
    border: 1px solid black;
    border-radius: 5px;
    text-align: center;
    margin: 10px;
    
}

.calculator-button:hover{
    background-color: #d6d4d4;
}

input:hover{
    background-color: #ececec;
}

#equalto{
    border: 1px solid black;
    border-radius: 5px;
    margin: 10px;
    text-align: center;
    background-color: rgb(18, 189, 18);
    color: white;
}

#equalto:hover{
    background:#06770b
}

#backspace:hover{
    background: #af0a0a
}

#backspace{
    border: 1px solid black;
    border-radius: 5px;
    margin: 10px;
    text-align: center;
    background-color: rgb(238, 30, 30);
    color: white;
}